@{
    ViewData["Title"] = "Home Page";
}

@model Chef

<div class="navbar">
    <a href="@Url.Action("Index", "Home")">Chefs</a>
    <a href="@Url.Action("Index", "Dish")">Dishes</a>
    <a href="@Url.Action("AddChef", "Home")">Add Chef</a>
    <a href="@Url.Action("AddDish", "Dish")">Add Dish</a>
</div>

<div class="text-center">
    <form asp-action="CreateChef" method="post" >
                <div class="form-group">
                    <label for="FirstName" class="control-label">First Name</label>
                    <input class="form-control" asp-for="FirstName">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                    
                </div>
                <div class="form-group">
                    <label for="LastName" class="control-label">Last Name</label>
                    <input class="form-control" asp-for="LastName">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="DateOfBirth" class="control-label">Date Of Birth</label>
                    <input class="form-control" asp-for="DateOfBirth" type="date">
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
              
                <div class="form-group">
                     <input type="submit" class="btn btn-primary" value="Add Chef"></button>
                </div>
            </form>
</div>
